* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background: black;
    color: white;
}

asd {
    text-decoration: underline;
    text-decoration-color: yellow;
}